.dashboard-container{

    min-height:100vh;

    background:#0F172A;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.dashboard-card{

    width:1100px;

    background:#1E293B;

    border-radius:20px;

    padding:40px;

    display:flex;

    flex-direction:column;

    gap:30px;

    box-shadow:0 0 30px rgba(59,130,246,.3);

}

.rooms-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}