.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #0F172A;
}

.login-card {
    width: 520px;
    background: #1E293B;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0 0 25px rgba(59,130,246,.30);
}

.login-link {
    width: 100%;
    text-decoration: none;
}