.input-wrapper {
    width: 100%;
}

.custom-input {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

.custom-input:focus {
    border: 2px solid #38BDF8;
}

.error-text {
    color: #ff5d5d;
    font-size: 13px;
    margin-top: 6px;
}